[Desktop Entry]
Type=Application
Name=Print Junk
Comment=PDF processing tools for printers and bookbinders
Exec=print-junk-gui
Icon=print-junk-gui
Categories=Office;Graphics;
MimeType=application/pdf;
Terminal=false
